aioredis==1.3.1
amqp==2.4.1
asgi-redis==1.1.0
asgiref==2.3.2
async-timeout==2.0.1
attrs==18.2.0
autobahn==19.2.1
Automat==0.7.0
billiard==3.5.0.5
bson==0.5.7
celery==4.2.1
channels==2.1.7
channels-redis==2.3.3
constantly==15.1.0
daphne==2.2.5
Django==2.2.20
django-celery-beat==1.4.0
django-celery-results==1.0.4
django-timezone-field==3.0
django-widget-tweaks==1.4.3
hiredis==1.0.0
hyperlink==18.0.0
idna==2.8
incremental==17.5.0
kombu==4.3.0
msgpack==0.6.1
msgpack-python==0.5.6
psycopg2==2.7.3.2
PyHamcrest==1.9.0
python-crontab==2.3.6
python-dateutil==2.8.0
pytz==2018.9
redis==2.10.6
simplejson==3.16.0
six==1.12.0
sqlparse==0.4.2
Twisted==20.3.0
txaio==18.8.1
vine==1.2.0
zope.interface==4.6.0
